body {
    font-family: Verdana, Tahoma, sans-serif;
    background: #212121;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    color: #FFF;
}

.toggle,
[id^=drop] {
    display: none;
}

nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #254441;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    float: left;
    background-color: #254441;
}

nav a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a.active {
    background-color: #000000;
}

nav a:hover {
    background-color: #000000;
}

nav ul li:hover>ul {
    display: inherit;
}

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

#headline {
    font-size: 35px;
}

.music {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    max-width: 450px;
    max-height: 450px;
    display: inline-block;
    background: transparent;
    color: white;
    padding: 32px 34px 32px 32px;
    margin: 32px 34px 32px 32px;
}

#masterSales {
    position: absolute;
    left: 10%;
}

#masterFavorites {
    position: absolute;
    left: 10%;
}

.music img {
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    text-align: center;
}

.box {
    background: transparent;
    color: white;
    position: fixed;
    bottom: 0%;
    left: 0%;
    padding: 1px 2px 1px 2px;
    margin: 1px 2px 1px 2px;
}

.box2 {
    background: transparent;
    color: white;
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding: 1px 2px 1px 2px;
    margin: 1px 2px 1px 2px;
}

#sales {
    color: gold;
}

#Favoriten {
    color: tomato;
}

.Information {
    color: #78c0b9;
}

.feedback-input {
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#datenschutz {
    font-size: 8px;
}

[type="submit"]:hover {
    background: #CC4949;
}

#formcontact {
    width: 50%;
    position: relative;
    left: 25%;
}

.account {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    max-width: 800px;
    max-height: 800px;
    display: inline-block;
    position: relative;
    left: 35%;
    background: transparent;
    color: white;
    padding: 32px 34px 32px 32px;
    margin: 32px 34px 32px 32px;
}

@media screen and (min-width:601px) and (max-width: 1200px) {
    #masterFavorites {
        position: unset;
        max-width: 100%;
        display: table;
        left: unset;
        margin: 0 auto;
    }
    #masterSales {
        position: unset;
        max-width: 100%;
        display: table;
        left: unset;
        margin: 0 auto;
    }
    #sales {
        margin-top: 10px;
    }
    h1 {
        line-height: 50px;
    }
    .music {
        display: table;
        max-width: 600px;
        max-height: 600px;
        padding: 16px 18px 32px 18px;
        margin: 16px 18px 32px 18x;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    #masterSales {
        position: unset;
        max-width: 100%;
        display: inline-table;
        left: unset;
    }
    #masterFavorites {
        position: unset;
        max-width: 100%;
        display: inline-table;
        left: unset;
    }
    .music {
        display: inline-table;
        margin: 0 auto;
        max-width: 100%;
        border: unset;
        box-shadow: unset;
        padding: unset;
        margin: unset;
    }
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        max-width: 100%;
        margin: 0;
    }
    .toggle+a,
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        background-color: #254441;
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        background-color: #000000;
    }
    [id^=drop]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
}

@media print {
    p {
        color: black;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: black;
    }
}